.navbar_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navbar_item {
  font-size: 20px;
  font-weight: bold;
}
.navbar_link {
  text-decoration: none;
  color:#444;
  transition: color 0.2 linear;
}
.navbar_link:hover {
  color:rgb(163, 17, 17);
}
.title {
    text-align: center;
    color: rgb(231, 29, 39);
}
.content {
  padding: 0 50px
}
.desc {
  text-align: center;
  line-height:1.6;
  color: #000;
}
.banner {
  width: 100%;
  height: auto;
}
.contact {
  width: 90%;
}